<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <% alert_name = 'info' if name = 'notice' %>
    <div class="alert alert-<%=alert_name%>" >
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
